<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.dao.CanteenAdminMapper">
    <resultMap id="BaseResultMap" type="com.canteen.bean.CanteenAdmin">
        <id column="ManagerID" jdbcType="INTEGER" property="managerID" />
        <result column="ManagerName" jdbcType="VARCHAR" property="managerName" />
        <result column="managerPassword" jdbcType="VARCHAR" property="managerPassword" />
        <result column="canteenID" jdbcType="INTEGER" property="canteenID" />
    </resultMap>

    //根据学号删除
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from CanteenManager
        where ManagerID = #{managerID,jdbcType=INTEGER}
    </delete>

    //插入食堂管理员信息
    <insert id="insert" parameterType="com.canteen.bean.CanteenAdmin">
        insert into canteem_admin (ManagerID,ManagerName, managerPassword, canteenID)
        values (#{managerID,jdbcType=INTEGER},#{managerName,jdbcType=VARCHAR}, #{managerPassword,jdbcType=VARCHAR}, #{canteenID,jdbcType=INTEGER})
    </insert>

    //根据工号更新信息
    <update id="updateByPrimaryKey" parameterType="com.canteen.bean.CanteenAdmin">
        update CanteenManager
        set ManagerName = #{managerName,jdbcType=VARCHAR},
            managerPassword = #{managerPassword,jdbcType=VARCHAR},
            canteenID = #{canteenID,jdbcType=INTEGER}
        where ManagerID = #{managerID,jdbcType=INTEGER}
    </update>

    //查询所有人信息
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.canteen.bean.CanteenAdmin">
        select ManagerID, ManagerName, managerPassword, canteenID
        from CanteenManager
        where 1=1
        <if test="ManagerName !=null and ManagerName !=''">
            and ManagerName like concat('%',#{managerName},'%')
        </if>
    </select>

    //登陆时查询
    <select id="selectloginStudent" resultMap="BaseResultMap" parameterType="com.canteen.bean.CanteenAdmin">
        select ManagerID, ManagerName, managerPassword, canteenID
        from CanteenManager
        where 1=1
        <if test="managerID !=null and managerID !=''">
            and ManagerID =#{managerID}
        </if>
        <if test="managerPassword !=null and managerPassword !=''">
            and managerPassword =#{managerPassword}
        </if>
    </select>
</mapper>