<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.dao.UserDao">
	<!-- 获得用户列表 -->
	<select id="getUser" resultType="com.canteen.bean.User" parameterType="com.canteen.bean.User">
		SELECT id, username, password FROM system_admin
		<where>
			<if test="username != null and username != ''">
				AND username = #{username}
			</if>
			<if test="password != null and password != ''">
				AND password = #{password}
			</if>
		</where>
	</select>
</mapper>